<mat-toolbar color="primary" class="mat-elevation-z8">
<span>Soikot</span>
<div class="spacer"></div>
<button mat-flat-button color="primary" routerLink="upcomingevents">Upcoming Events</button>
<button mat-flat-button color="primary" routerLink="artists">Artist Showcase</button>
<button mat-flat-button color="primary" routerLink="sponsors">Sponsors</button>
<button mat-flat-button color="primary" routerLink="pujaschedule">Puja Schedule</button>
<button mat-flat-button color="primary" routerLink="pujarates">Puja Rates</button>
<button mat-flat-button color="primary" href="https://www.facebook.com/profile.php?id=100067582890688&paipv=0&eav=AfZowWokjcRycxwkc9DhYPPS3VeeOrd_mN4xhu6vej4uW0q2aXDEkmTJHjUXVyDj3dE" target="_blank">Community Service</button>
<button mat-flat-button color="primary" routerLink="gallery">Gallery</button>
<button mat-flat-button color="primary" routerLink="aboutus">About Us</button>
<button mat-flat-button color="primary" routerLink="contactus">Contact Us</button>
<a mat-raised-button color="accent" routerLink="signup">Sign Up</a>
</mat-toolbar>